body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
    font-weight: 700;

}
.lentil-color{
    color: darkblue;
}
p{
    margin-top: -10px;
    margin-bottom: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(8, 8, 190), rgb(183, 75, 233));
    color: white;
    padding: 15px;
    font-weight: 700;
    border-radius: 30px;
    
    
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    margin-top: 50px;
    margin-bottom: 10%;
}
.half-width img{
    width: 70%;
    margin-top: 10px;
}
.middle-section{
    background-image: url('images/Frame\ 56.jpg');
    padding-left: 5%;
    padding-bottom: 2%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 3%;
    margin-right: 3%;
    
    
}
#chef{
    padding-top: 5%;
    padding-right: 5%;
}
.recipie{
    text-align: center;
}
.dish-catalog{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    padding: 2%;
    box-shadow: 2px 2px 10px gray;
    border-radius: 10px;
    margin-bottom: 10%;    

}
.block{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    border-radius: 10px;   
}
form{
    margin-bottom: 10%;
    padding-left: 3%;
}
button{
    padding: 3px;
    margin-top: 10px;
    width: 70px;
    color: white;
    background-color: rgb(92, 19, 175);
}
h3{
    padding-left: 3%;
}
footer p{
    margin-bottom: 0%;
    color: white;
    text-align: center;
    background-color: black;
    background-size: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-text{
    margin-top: 1%;
    width: 20%;
    height: 25px;
    background-color: rgb(253, 246, 246);
    border-radius: 5px;
}
.input-comment{
    margin-top: 1%;
    width: 20%;
    height: 100px;
    background-color: rgb(253, 246, 246);
    border-radius: 5px;
}
