body{
    font-family: 'Noto Sans', sans-serif;
}
h1{
    font-size: 40px;
    font-weight: 700;

}
.lentil-color{
    color: darkblue;
}
p{
    margin-top: -10px;
    margin-bottom: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(8, 8, 190), rgb(183, 75, 233));
    color: white;
    padding: 15px;
    font-weight: 700;
    border-radius: 10px;
    
    
}
section{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    margin-top: 50px;
}
.half-width img{
    width: 70%;
    margin-top: 10px;
}
.middle-section{
    background-image: url('images/Frame\ 56.jpg');
    padding-left: 5%;
    padding-bottom: 2%;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
#chef{
    padding-top: 5%;
}
